:root {
  --color-gray: #cacaca;
  --color-main: #ffffff;
  --color-artist: #E0E0E0;
  --background-main: #08020d;
  --background-find: #3C3B3D;
  --button-green: #34C176;
  --button-brown: #95390C;
  --button-violet: #5328A1;
  --colot-music-box-orange: #F89202;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

:root {
  box-sizing: border-box;
  font-family: "Roboto Regular", sant-serif;
  line-height: 1.5;
  color: var(--color-main);
  background-color: var(--background-main);
}

button {
  cursor: pointer;
}

.btn {
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  background: none;
  color: var(--color-main);
  text-transform: uppercase;
  height: 57px;
}

.icon {
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

sup {
  font-size: 32px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.max-width {
  max-width: 1200px;
  padding: 0 20px;
  min-width: 340px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
#page-description {
  background-position: center;
  background-size: cover;
  width: 100%;
}

.page-description-main {
  background-image: url(../images/banner.png);
}

.navigation {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-main {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 11px;
}

.nav-wrap {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-img {
  height: 24px;
  width: 24px;
  background-image: url(../images/logo.svg);
}
.logo-name {
  margin-left: 16px;
  cursor: pointer;
  width: max-content;
}

.header-link {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: var(--color-gray);
  margin: 0 24px 0 90px;
}
.header-link * {
  cursor: pointer;
}

.link {
  color: var(--color-gray);
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
}

.active {
  color: var(--color-main);
}

.form-find {
  width: 248px;
  height: 25px;
  padding-left: 5px;
  border: none;
  border-radius: 50px;
  background: var(--background-find);
}

.banner {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h2 {
  margin-bottom: 31px;
}
.banner p {
  margin-bottom: 17px;
  text-align: center;
}

.form-send {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-field {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.form-field-input {
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid var(--color-gray);
  border-radius: 3px;
  background: none;
}

.btn-access {
  width: 100%;
  background: var(--button-green);
  border: none;
  margin-top: 0;
}

#page-pricing {
  padding-top: 100px;
}

.forms-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  margin: 50px 0;
}

.pricing-item {
  padding: 0 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-grow: 1;
  width: calc((100% - 100px) / 3);
  min-width: 300px;
}
.pricing-item h3 {
  margin-top: 1rem;
  margin-bottom: 200px;
  font-size: 24px;
  line-height: 45px;
}

.btn-design {
  margin: 0 25px;
  width: 100%;
}

.pricing-value {
  font-size: 64px;
  line-height: 1em;
  margin-bottom: 40px;
}
.pricing-footer {
  text-align: center;
  font-size: 13px;
  text-transform: none;
  margin: 64px 0;
}
.pricing-footer-page {
  text-align: center;
}

.bg-free {
  background-image: url(../images/subscribe_1.png);
}

.bg-standard {
  background-image: url(../images/subscribe_2.png);
}

.bg-premium {
  background-image: url(../images/subscribe_3.png);
}

.page-pricing-footer {
  font-size: 16px;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

#page-news {
  padding-top: 100px;
}
#page-news h2 {
  margin-bottom: 48px;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-item {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
.news-item h3 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
}
.news-item p {
  margin-bottom: 24px;
  color: var(--color-gray);
}
.news-item > img {
  width: calc((100% - 50px) / 2);
  object-fit: contain;
  min-width: 300px;
  flex-grow: 1;
}
.news-item .music-box-orange {
  color: var(--colot-music-box-orange);
  text-transform: uppercase;
}
.news-body {
  width: calc((100% - 50px) / 2);
  flex-grow: 1;
}
.news-author {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 16px;
  margin-bottom: 24px;
  align-content: start;
}

.btn-album {
  text-decoration: none;
  color: var(--color-gray);
  padding: 16px 30px;
}

#page-app {
  padding-top: 100px;
  margin-bottom: 100px;
}
#page-app h2 {
  margin-bottom: 48px;
}
#page-app img {
  width: 333px;
  min-width: 300px;
  margin-right: 144px;
}

.mobile-app {
  display: flex;
  gap: 16px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.mobile-app p {
  margin-bottom: 16px;
  color: var(--color-gray);
  max-width: 600px;
  color: var(--color-gray);
}

.btn-download {
  background: var(--button-brown);
  border: none;
  border-radius: 32px;
  padding: 16px 40px;
  font-size: 12.8px;
}

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-top-past {
  min-width: calc((100% - 120px) / 4);
}
.footer-top > div {
  display: flex;
  flex-direction: column;
}
.footer-top a {
  text-decoration: none;
  color: var(--color-gray);
}
.footer-top p {
  color: var(--color-gray);
}
.footer-top h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--color-gray);
}
.footer-bottom h4 {
  font-weight: normal;
}
.footer-bottom a {
  text-decoration: none;
  color: var(--color-gray);
}

hr {
  color: var(--color-gray);
}

.connection {
  display: flex;
  align-items: stretch;
  gap: 24px;
  height: 20px;
}

.google {
  background-image: url(../images/Google+.png);
  width: 26px;
}

.twitter {
  background-image: url(../images/Twitter.png);
  width: 22px;
}

.facebook {
  background-image: url(../images/Facebook.png);
  width: 12px;
}

.instagram {
  background-image: url(../images/Instagram.png);
  width: 19px;
}

@media (max-width: 768px) {
  .navigation {
    display: block;
  }
  .navigation-main {
    display: block;
    margin-bottom: 23px;
  }
  .nav-wrap {
    flex-direction: column;
    margin-bottom: 18px;
  }
  .logo {
    margin-bottom: 17px;
  }
  .header-link {
    display: block;
    margin: 0;
  }
  li {
    line-height: 1;
  }
  .form-find {
    width: 100%;
  }
  .banner {
    padding-top: 250px;
  }
  .banner h2 {
    margin-bottom: 16px;
  }
  .form-send {
    width: 100%;
  }
  .form-field {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .news-item > img {
    width: 100%;
  }
  .news-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
  .news-body {
    width: 100%;
  }
  .footer-top, .footer-bottom {
    flex-direction: column;
  }
}
.page-description-artist {
  background: url(../images/Morten_Harket.png);
}

.banner-artist {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.banner-artist h1 {
  margin-bottom: 16px;
}
.banner-artist p {
  margin-bottom: 48px;
}

.btn-send {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 200px;
  border: none;
}

.btn-mix {
  background: var(--button-violet);
}

.btn-like {
  background: var(--button-brown);
}

.button-send {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 23px;
}

.img-btn {
  display: inline-block;
  width: 20px;
  margin-left: 31px;
  filter: invert(1);
}

#page-popular-track {
  padding-top: 100px;
}
#page-popular-track h2 {
  text-align: left;
  margin-bottom: 23px;
}

.popular-track {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.past-track {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  margin-right: 50px;
  width: calc(50% - 50px);
  min-width: 300px;
  margin-top: 25px;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track * {
  font-size: 12.8px;
}
.track-card {
  display: flex;
  gap: 15px;
  align-items: center;
}
.track-img {
  width: 55px;
  height: 55px;
}
.track-name {
  width: max-content;
}
.track-name p {
  color: var(--color-artist);
}

#page-discography {
  padding-top: 100px;
}
#page-discography h2 {
  margin-bottom: 48px;
  text-align-last: left;
}

.discography {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.discography-item {
  margin-right: 25px;
  width: 250px;
}
.discography-item img {
  height: 250px;
  width: 100%;
  margin-bottom: 18px;
}
.discography-info p {
  color: var(--color-artist);
}

#page-similar {
  padding: 100px 0;
}
#page-similar h2 {
  margin-bottom: 48px;
  text-align-last: left;
}

.similar {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.similar-item {
  margin-right: 25px;
  width: 250px;
  text-align: center;
}
.similar-item img {
  height: 250px;
  width: 100%;
  margin-bottom: 18px;
}
.similar-info p {
  color: var(--color-artist);
}

@media (max-width: 768px) {
  .banner-artist {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .button-send {
    flex-direction: column;
  }
  #page-popular-track {
    padding-top: 100px;
  }
  .discography-item,
  .similar-item {
    width: 137px;
    min-width: 137px;
  }
  .discography-item img,
  .similar-item img {
    height: 137px;
  }
}

/*# sourceMappingURL=style.css.map */
