//page 2-1

.page-description-artist {
    background: url(../images/Morten_Harket.png);
}


.banner-artist {
    padding-top: 200px;
    padding-bottom: 200px; 
 
    display: flex;
    flex-direction: column;
    align-items: start;
 
    h1 {
     margin-bottom: 16px;
    }
 
    p {
     margin-bottom: 48px;
    }
}

.btn-send {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 200px;
    border: none;
}

.btn-mix {
    background: var(--button-violet);
}

.btn-like {
    background: var(--button-brown);
}

.button-send {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 23px;
}

.img-btn {
    display: inline-block;
    width: 20px;
    margin-left: 31px;
    filter: invert(1);
}

//page-2-2
#page-popular-track {
    padding-top: 100px;

    h2 {
        text-align: left;
        margin-bottom: 23px;
    }
}

.popular-track {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.past-track {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
    margin-right: 50px;
    width: calc(100% / 2 - 50px);
    min-width: 300px;
    margin-top: 25px; 
}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        font-size: 12.8px;
    }

    &-card {
        display: flex;
        gap: 15px;
        align-items: center;
    }

    &-img {
        width: 55px;
        height: 55px;
    }

    &-name {
        width: max-content;

        p {
            color: var(--color-artist);
        }
    }
}

//page 2-3 
#page-discography {
    padding-top: 100px;

    h2 {
        margin-bottom: 48px;
        text-align-last: left;
    }
}

.discography {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    &-item {
        margin-right: 25px;
        width: 250px; 

        img {
          height: 250px; 
          width: 100%; 

          margin-bottom: 18px;
        }
    }

    &-info {
       p {
        color: var(--color-artist);
       } 
    }
}

//page 2-4 
#page-similar {
    padding: 100px 0;

    h2 {
        margin-bottom: 48px;
        text-align-last: left;
    }
}


.similar {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

    &-item {
        margin-right: 25px;
        width: 250px; 

        text-align: center;

        img {
          height: 250px; 
          width: 100%; 

          margin-bottom: 18px;
        }
    }

    &-info {
       p {
        color: var(--color-artist);
       } 
    }
}


@media (max-width:768px) {
    //page 2-1
    .banner-artist {
        padding-top: 200px;
        padding-bottom: 200px; 
    }

    .button-send {
        flex-direction: column;
    }

    //page-2-2
    #page-popular-track {
        padding-top: 100px;
    }


    .discography,
    .similar {
        &-item {
            width: 137px; 

            img {
              height: 137px; 
            }
        }
    }
}