@font-face {
    font-weight: 400;
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: "Roboto Bold";
    src: url(../fonts/Roboto-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.sr-only {
    position: absolute;
  
    width: 1px;
    height: 1px;
    padding: 0;
  
    overflow: hidden;
  
    white-space: nowrap;
  
    border: 0;
}  

:root {
    box-sizing: border-box;

    font-family: "Roboto Regular", sant-serif;
    line-height: 1.5;
    color: var(--color-main);
    background-color: var(--background-main);
}

button {
    cursor: pointer;
}

.btn {
    border: solid 1px var(--color-gray);
    border-radius: 5px;

    background: none;

    color: var(--color-main);

    text-transform: uppercase;

    height: 57px;
}

.icon {
    background-color: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none; 

    cursor: pointer;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;

    text-transform: uppercase;

    text-align: center;
}

sup {
    font-size: 32px;
}

@media (max-width:768px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
    }
}


