//page-1
#page-description {
    background-position: center;
    background-size: cover;
    width: 100%; 
}

.page-description-main {
    background-image: url(../images/banner.png);
}

.navigation {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;


    &-main {
        display: flex;
        align-items: center;
    }
}

.nav-wrap {
    display: flex;
    
    text-transform: uppercase;

    font-size: 11px;

    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

    &-img {
        height: 24px;
        width: 24px;
    
        background-image: url(../images/logo.svg);
    }
    
    &-name {
        margin-left: 16px;
        
        cursor: pointer;

        width: max-content;

        font-weight: 400;


    }
}

.header-link {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    color: var(--color-gray);

    margin: 0 24px 0 90px;

    line-height: 1.5;

    & * {
        cursor: pointer;
    }
}

.link {
    color: var(--color-gray);
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
} 

.active {
    color: var(--color-main);  
}

.form-find {
    width: 248px;
    height: 25px;

    padding: 0 0 0 5px;

    border: none;
    border-radius: 50px;

    background: var(--background-find);
}

.banner {
   padding-top: 200px;
   padding-bottom: 200px;

   display: flex;
   flex-direction: column;
   align-items: center;

   h2 {
        margin-bottom: 31px;
   }

   p {
        margin-bottom: 1em;
        text-align: center;
   }
}

.form {
    &-send {
        max-width: 570px;
        display: flex;
        flex-direction: column;
        align-items:  center;
    }

    &-field {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        &-input {
            min-width: 270px;
            min-height: 50px;

            padding-left: 20px;
            margin-bottom: 1.5em;

            border: 2px solid var(--color-gray);
            border-radius: 3px;

            background: none;

        }
    }
}

.btn-access {
    width: 100%;

    background: var(--button-green);

    border: none;

    margin-top: 0;
}


//page-2

#page-pricing {
    padding-top: 100px;
}

.forms-sub {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    margin: 46px 0 43px 0;
}

.pricing-item {
    padding: 0 1.5em;

    border-radius: 1em;

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    text-transform: uppercase;

    flex-grow: 1;

    width: calc((100% - 100px) / 3);
    min-width: 300px;

    h3 {
        margin-top: 1em;
        margin-bottom: 200px;
        font-size: 24px;
        line-height: 45px;  
    }
}

.btn-design  {      
    margin: 0 25px;
    width: 100%;

    font-size: 16px;
    padding: 0;
    height: 66px;
}

.pricing {
    &-value {
        font-size: 64px;
        margin-bottom: 40px;

        line-height: 1;
    }

    &-footer {
        text-align: center;
        font-size: 13px;

        text-transform: none;

        margin: 64px 0;

        &-page {
            text-align: center;
        }
    }
}

.bg-free {
    background-image: url(../images/subscribe_1.png);
}

.bg-standard {
    background-image: url(../images/subscribe_2.png);
}
.bg-premium {
    background-image: url(../images/subscribe_3.png);

}

.page-pricing-footer {
    font-size: 16px;
    text-align: center;
    width: 1240px;
    margin: 0 auto;
}


//page-3

#page-news {
    padding-top: 100px;

    h2 {
        margin-bottom: 48px;
    }
}

.news-item:last-child {
    margin-bottom: 0;
}

.news {
    &-item {
        display: flex;
        gap: 50px;
        justify-content: center;

        flex-wrap: wrap;
        margin-bottom: 65px;

        h3 {
            margin-bottom: 1em;
            font-size: 30px;
            font-weight: 400;
        }

        p {
            margin-bottom: 24px;
            color: var(--color-gray);
        }

        & > img {
            width: calc((100% - 50px) / 2);
            object-fit: contain;
            min-width: 300px;
            flex-grow: 1;
        }

        .music-box-orange {
            color: var(--colot-music-box-orange);
            text-transform: uppercase;
        }
    }

    &-body {
        width: calc((100% - 50px) / 2);
        flex-grow: 1;
    }

    &-author {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-gap: 16px;
        margin-bottom: 24px;

        align-content: start;

        font-size: 12.8px;
    }
}

.news-item-reverse {
    flex-direction: row-reverse;
}

.btn-album {
    display: inline-block;
    text-decoration: none;
    color: var(--color-gray);
    padding: 16px 30px;

    font-size: 12.8px;
    height: auto;
}


//page-4

#page-app {
    padding-top: 100px;
    margin-bottom: 100px;

    h2 {
        margin-bottom: 48px;
    }

    img {
        width: 333px;
        min-width: 300px;
        margin-right: 144px;
    }
}

.mobile-app {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    p {
        margin-top: 16px;
        color: var(--color-gray);
        max-width: 600px;
        color: var(--color-gray);
    }
}

.btn-download {
    background: var(--button-brown);
    border: none;
    border-radius: 32px;

    padding: 16px 40px;
    margin-top: 16px;

    font-size: 12.8px; 

    text-transform: none;
}


//page-5

footer {
   background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer {
    
    &-top {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 4em;
        padding-bottom: 4.5em;

        &-past {
            min-width: calc((100% - 120px) / 4);
            line-height: 1.5;
        }

        & > div {
            display: flex;
            flex-direction: column;
        }

        a {
            text-decoration: none;
            color: var(--color-artist);
        }

        p {
            color: var(--color-artist);
        }

        h3 { 
            margin-bottom: 15px;
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    &-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 16px;
        padding-top: 2.5em;
        padding-bottom: 3em;
        color: var(--color-gray);

        line-height: 1.5;

        h4 {
            font-weight: normal;
        }

        a {
            text-decoration: none;
            color: var(--color-gray);
        }
        
    }
} 

hr {
    border: 1px solid var(--color-gray);
}

.connection {
    display: flex;
    align-items: stretch;
    gap: 24px;
    height: 20px;
}

.google {
    background-image: url(../images/Google+.png); // Не через бекграунд
    width: 26px;
}

.twitter {
    background-image: url(../images/Twitter.png);
    width: 22px;
}

// .facebook {
    //  background-image: url(../images/Facebook.png);
    // width: 12px; 
// }

// .instagram {
    // background-image: url(../images/Instagram.png);
    // width: 19px;
// }




//media
@media (max-width:768px) {
    //page-1
    .navigation {
        display: block;
    }

    .nav-wrap {
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: start;
        font-weight: 700;
    }

    .logo {
        margin-bottom: 1rem;

        &-name {
            font-weight: 700;
        }

    }

    .header-link {
        display: block;
        margin: 0;
    } 

    .form-find {
        width: 100%;
    }

    .banner {
        padding-top: 249px;
        
        h2 {
            margin-bottom: 16px;
        }
    }

    .form {
        &-send {
            width: 100%;
        }
    
        &-field {
            flex-direction: column;
            gap: 0;
            width: 100%;
        }
    }


    //page-2
    .pricing-item {

        h3 {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
    }


    //page-3
    .news {
        &-item {
        
            & > img {
                width: 100%;
            }

            h3 {
                font-size: 16px;
            }
        }

        &-body {
            width: 100%;
        }
    }

    //page-5
    #page-app {
        img {
            margin: 0 auto; 
        }
    }

    //page-5
    .footer {
        &-top,
        &-bottom {
            flex-direction: column;
        }
    }
} 
