:root {
    --color-gray: #cacaca;
    --color-main: #ffffff;
    --color-artist: #E0E0E0;


    --background-main: #08020d;
    --background-find: #3C3B3D;

    --button-green: #34C176;
    --button-brown: #95390C;
    --button-violet: #5328A1;


    --colot-music-box-orange: #F89202;

}

