:root {
  --color-gray: #cacaca;
  --color-main: #ffffff;
  --color-artist: #e0e0e0;

  --background-main: #08020d;
  --background-find: #3c3b3d;

  --button-green: #34c176;
  --button-brown: #95390c;
  --button-violet: #5328a1;

  --colot-music-box-orange: #f89202;
}
